.header {
    margin: 0px;
    padding: 10px;
    text-align: center;
    background: #019BF1;
    color: black;
    font-size: 30px;
}

body {
    margin: 0px;
}

h1 {
    padding: 0px 230px;
    font-family: "Helvetica", "Condensed Black";
}

.button {
    background-color: #019BF1;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 50px 50px;
    cursor: pointer;

}

.button:hover {
    color: white;
}

.button h3 {
    font-family: "Helvetica", "Condensed Black, bold";
    font-size: 25px;
    margin: 0px;
}




#searchBar {
    float: left;
    padding: 15px 1100px 15px 23px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 25px;
}